@-ms-viewport{
    width: device-width;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}

.container,
#input,
.length,
.volume,
.mass,
#convert-btn
.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

#input{
    margin-bottom: .5em;
}

#input,
.container {
    color: #FFFFFF;
    text-align: center;
}

.container {
    font-family: 'Inter', sans-serif;
    background-color: #1F2937;
}

.main {
    background-color: #6943FF;
    padding: 1em 2em;
}

h1 {
    font-size: 2em;
}

#input {
    min-width: 80%;
    max-width: 100%;
    border: 2px solid #B295FF;
    font-weight: 900;
    font-size: 3em;
    -moz-appearance: textfield;
    background-color: #6943FF;
}

#convert-btn {
    padding: 1em 2em;
    background-color: #FFFFFF;
    color: #3D3D3D;
    border-style: none;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 1.5em;
}

#convert-btn,
#input {
    outline: none;
}

.units {
    padding: 2.5em  0 1em 0;
}

.length,
.volume,
.mass {
    width: 90%;
    background-color: #273549;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #CCC1FF;
    margin-bottom: 0;
}

p {
    font-size: .8em;
}

@media(min-width:800px){
    .container {
        width: 50%;
    }
}